/* 전체 레이아웃 */

#location, #check_out, #pet {
	margin-right:10px;
}

.double {
	display: contents;
}

#check_in {
	margin-right:5px;
}

/* 날짜 입력 input */
.check_date {
	padding:0 20px;
  color: #60666d;
  font-size: 1em;
  border: 0;
  outline: 0;
  box-shadow: 0 15px 30px -10px rgb(0 0 0 / 10%);
  cursor: pointer;
}


/* 셀렉트 옵션 */
	.select-box, .check_date  {
	  position: relative;
	  display: block;
	  width: 25%;
	  margin: 0 auto;
	  font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
	  font-size: 18px;
	  color: #60666d;
	  border-radius : 6px;
	}
	.select-box_current {
	  position: relative;
	  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	  cursor: pointer;
	  outline: none;
	}
	.select-box_current:focus + .select-box_list {
	  opacity: 1;
	  -webkit-animation-name: none;
	          animation-name: none;
	}
	.select-box_current:focus + .select-box_list .select-box_option {
	  cursor: pointer;
	}
	.select-box_current:focus .select-box_icon {
	  transform: translateY(-50%) rotate(180deg);
	}
	.select-box_icon {
	  position: absolute;
	  top: 50%;
	  right: 15px;
	  transform: translateY(-50%);
	  width: 20px;
	  opacity: 0.3;
	  transition: 0.2s ease;
	}
	.select-box_value {
	  display: flex;
	}
	.select-box_input {
	  display: none;
	}
	.select-box_input:checked + .select-box_input-text {
	  display: block;
	}
	.select-box_input-text {
	  display: none;
	  width: 100%;
	  margin: 0;
	  padding: 15px;
	  background-color: #fff;
	  border-radius: 6px
	}
	.select-box_list {
	  position: absolute;
	  width: 100%;
	  padding: 0;
	  list-style: none;
	  opacity: 0;
	  -webkit-animation-name: HideList;
	          animation-name: HideList;
	  -webkit-animation-duration: 0.5s;
	          animation-duration: 0.5s;
	  -webkit-animation-delay: 0.5s;
	          animation-delay: 0.5s;
	  -webkit-animation-fill-mode: forwards;
	          animation-fill-mode: forwards;
	  -webkit-animation-timing-function: step-start;
	          animation-timing-function: step-start;
	  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	}
	
	#location .select-box_list{
		height: 200px;
    overflow: scroll;
	}
	
	.select-box_option {
	  display: block;
	  padding: 15px;
	  background-color: #fff;
	}
	.select-box_option:hover, .select-box_option:focus {
	  color: #546c84;
	  background-color: #fbfbfb;
	}
	
	@-webkit-keyframes HideList {
	  from {
	    transform: scaleY(1);
	  }
	  to {
	    transform: scaleY(0);
	  }
	}
	
	@keyframes HideList {
	  from {
	    transform: scaleY(1);
	  }
	  to {
	    transform: scaleY(0);
	  }
	}



/* 돋보기 버튼 */
.search_btn {
  background-repeat: no-repeat;
  background-position: center center;
}

/* 세부검색 */
.inp_wrap {
	z-index: -1;
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: #223254;
	display: flex;
	justify-content: center;
}
.inp_wrap input {
  position: absolute;
  bottom: 0;
  right: 0;
}
.sub {
	width: 33.33%;
	padding: 20px;
}
.sub p {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}
.cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  width:100%;
  display:block;
  margin: 10px 0;
}
.cbx:not(:last-child) {
  margin-right: 6px;
}
/* .cbx:hover {
  background: rgba(0,119,255,0.06);
} */
.cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.cbx:hover span:first-child {
  border-color: #07f;
}
.inp-cbx {
  position: absolute;
  visibility: hidden;
}
.inp-cbx:checked + .cbx span:first-child {
  background: #07f;
  border-color: #07f;
  animation: wave 0.4s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .cbx {
    width: 100%;
    margin-bottom: 4px;
    display: inline-block;
  }
}
@-moz-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

/* 리스트 */
.hotel_list .empty {
	font-size:20px;
	font-weight: bold;
	text-align: center;
	padding: 100px;
}

.hotel_list{
	padding-top: 320px;
	width: 85%;
    margin: 0 auto;
}


/* 버튼 */

@import url("https://fonts.googleapis.com/css?family=Montserrat");
.search_btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../imgs/search.png'), linear-gradient(to right, #FFA742, #FF822B);
 		background-size: contain;
 		background-origin : border-box;
 		border:0;
}

