 /* 공통 */
	 html, body {
	 	height: 100vh;
	 	width: 100%;
	 }
	 
	#container {
	  width: 100%;
	  min-height: 100vh;
	  box-sizing: border-box;
	  padding-bottom:120px;
	  position: relative;
    text-align: center;
	}
	
	#header {	
		width: 100%;
	  height: 140px;
		background-color:white;
		display:inline-block;
		position:fixed;
		top:0;
		left:0;
		z-index:99;
	}
	
	#logo {
		width: 300px;
		height:100px;
		padding: 20px;
		float:left;
		cursor:pointer;
	}
	
	#button {
		height:140px;
		float:right;
	}
	
	#button > button {
		margin-top: 50px;	
		border: none;
		border-radius: 6px;
	 	width: 110px;
	 	height:40px;
	 	font-size: 16px;
	 	cursor: pointer;
		color:white;
		float : right;
		margin-right: 5px;  
		background-color:#FFA742;
	}
	
	
	#button button#notice{
		background-color: #fff;
		color:black;
	}
	
	#button button:hover{
		background-color:#FF822B !important;
		color:#fff !important;
	}
	
	#footer {
		height:80px;
		width:100%;
		background-color:black;
		color:white;
		padding: 20px 0;
		clear:both;
		position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	}
	
	#footer p{
	 	float:left;
	 	margin-top:10px;
	 	font-size: 13px;
	 	margin-left : 20px;
	 	text-align: left;
	 	line-height:20px;
	 }

	#footer img {
	 	float:left; 
	 	padding: 20px;
	 	margin-top:-15px;
	 	margin-left:40px;
	 }
	
	#section {
		padding-top: 140px;
	}
	.t_btn { 
		background-color : #EEE6C4;
   	border: none;
   	border-radius: 6px;
   	height: 30px;	
	}
    
/* 회원가입 선택 */
	#signup_wrap {
		width: 40%;
		margin: 0 auto;
	}
	
	#signup_wrap h1 {
		font-size: 1.4em;	
		font-weight: bold;
		padding: 20px 0;
	}
	
	.box_wrap {
		background-color: #eee;
		margin-top: 20px;
		padding: 20px;
		font-size: 0.9em;
		text-align: center;
    margin-bottom: 50px;
	}
	.box_wrap p {
		padding: 10px 0;
		line-height: 1.3em;
	}
	
	.box_wrap > button {
		height: 40px;
	  width: 80%;
	  margin: 10px 0;
	  background-color: #FFA742;
	  cursor: pointer;
	  color: white;
	  border: none;
	  border-radius: 6px;
	}
	
	button.btn_mem_signup {
		
	}
	
	.box_wrap > button:hover{
		background-color:#FF822B !important;
	}

/* 사업자 회원가입 form */
	
	.hidden {
		display:none;
	}
	
	.show {
		display:block;
	}
	
	
	/* 로그인 form */
	.login_wrap {
	width : 500px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: #fff;
	}
	
	.sel_wrap {
	width: 100%;
	height: 85px;
	background: #999;	
	margin-bottom: 50px;
	}
	
	.login {
	height: 70px;
	float: left;
	margin-top: 15px;
	cursor: pointer;
	color: black;
	font-size:18px;
	line-height: 70px;
	background: #999;
	width: 50%;
	}
	
	.show {
	background: white;
	}
	
	
	.input {
	width: 80%;
	border: 1px solid gray;
	padding: 10px 0;
	border-radius: 10px;
	margin-bottom: 10px;
	}
	
	.input_wrap {
		margin-top: 10px;
	}
	.input_wrap > input {
		background-color: transparent;
		padding: 10px;
	}
	
	.btn_wrap {
	width: 80%;
	margin: 20px auto;
	color: black;
	}
	
	.btn_wrap button, .btn_wrap .signIn_wrap {
		width: 100%;
		margin: 0 auto;
		padding: 10px 0;
		border-radius: 10px;
		height: 40px;
		margin-bottom: 10px;
		cursor: pointer;
		border: 0;
		color:black;
	  font-size: 0.8em;
	}
	#btn_signIn {
		display:block;
		width: 100%;
		height: 100%;
	}
	
	button#btn_login {
	  background-color: #555;
	  color:white;
	}
	
	.btn_wrap > label {
	  display: inline-flex;
	}






/* 게시판 리스트 */	
	.list_wrap {
    margin-bottom: 100px;
	}

	.list_subject > a{
		cursor: pointer;
	}
	
	.hotel_list > li {
	    margin-bottom: 30px;
	}
	.card_wrapper {
	position:relative;
  height: 300px;
  width: 85%;
  margin: 10px auto;
  display: inline-flex;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  width: 30%;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.hotel_info {
	width: 100%;
	border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.intro {
	padding: 20px;
}

.product-text {
  width: 70%;
}

.name h1 {
	padding-top:10px;
  font-size: 2em;
  color: #474747;
 	font-weight: bold;
}

.name h1,
.product-price p {
  font-family: "Bentham", serif;
}
.intro {
	display: inline-block;
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
}
.intro h2 {
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.hotel_info p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.hotel_info .btn {
    position: absolute;
    right: 10px;
    bottom: -20px;
}

.product-price {
  height: 50px;
  width: 327px;
  position: absolute;
  right:0;
  bottom: 35px;
}

.product-price p {
  height: 50px;
  font-family: "Trocchi", serif;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

.card_wrapper span {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
}

.btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price button:hover {
  background-color: #79b0a1;
}
.icon_wrap {
	display: flex;	
}

.icon {
    width: 30px;
    height: 30px;
    position: relative;
    padding:20px;
}

.icon > span {
	font-size:0.6em;
	width: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  display:block;
}

.icon > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* sidebar 메뉴 */
#sidebar {
	width: 15%;
	padding: 20px;
	background-color:#EBDDCA;
	position:fixed;
	top:0;
	left:0;
	padding-top: 140px;
  height: 100%;
}
.menu_name {
	font-size: 1.4em;
	font-weight: bold;
	padding: 20px 0;
	text-align: center;
}
.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled a {
  text-decoration: none;
}
.list-inline {
  overflow: hidden;
}
.list-inline li {
  float: left;
}
.main-nav a {
  padding:10px 0;
  color: #333;
  font: 400 1.125em "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: lowercase;
	font-size: 0.9em;	
}
.main-nav a:hover {
  color: #fff;
}
.social-links li {
  width: 25%;
  border-left: solid 1px #3C3735;
}

.social-links a {
  display: block;
  height: 5.5em;
  text-align: center;
  color: #3C3735;
  font: 0.75em/5.5em "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.social-links a:hover {
  color: #DFDBD9;
}

.list-hover-slide li {
  position: relative;
  overflow: hidden;
}
.list-hover-slide a {
  display: block;
  position: relative;
  z-index: 1;
  transition: .35s ease color;
}
.list-hover-slide a:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: #FFA742;
  transition: .35s ease left;
}
.list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
  left: 0;
}


/* 사이드바 있는 페이지 section 내용 */
.table_wrap {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.table_wrap > h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.responsive-table li {
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.responsive-table .table-header {
  background-color: #EBDDCA;
	font-size: 1em;
	font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
}
.responsive-table .table-row {
  background-color: #ffffff;
  /* box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1); */
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.responsive-table .col-1 {
  flex-basis: 10%;
}
.col-1 > input {
	width: 20px;
	height: 20px;
}
.responsive-table .col-2, .col-3, .col-4, .col-5 {
  flex-basis: 22.5%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #EBDDCA;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

	/* 페이지 넘버 */
	.pageNum {
		text-align: center;
		padding: 10px 0;
	}
	.pageNum > a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-weight:bold;
	}
	
	/* 검색 옵션 */
		.search_wrap {
			display: inline-flex;
    	width: 100%;
    	justify-content: center;
    	z-index:99;
		}
	.search_wrap #sel {
		margin: 0;
	}
	.search_wrap input[type="text"] {
		border: 0;
    outline: 0;
    box-shadow: 0 15px 30px -10px rgb(0 0 0 / 10%);
    width: 25%;
	}
	.search_wrap .btn, .table_wrap input.write_btn, .table_wrap .btn {
		background-color: #FFA742;
		border : none;
		border-radius: 6px;
    width: 110px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin: 0 10px;
    padding: 10px 15px;
	}

	.search_wrap .btn:hover, .table_wrap input.write_btn:hover, .table_wrap .btn:hover {
		background-color: #FF822B;
	}
	
	.table_wrap .btn {
    width: 10%;
    float: left;
	 }
    
  .pageNum {
    width: 80%;
    margin: auto;
	}
 	
 	.currentPage {
 		margin-bottom: 100px;
 	}